{% macro host_ip(addresses, domain_fqdn, domain) %}
{% for address in [addresses]|flatten %}
{{ "%-20s"|format(address) }} {{ "%-30s %s"|format(domain_fqdn, domain) }}
{%- endfor %}
{% endmacro %}
{% macro host_vip(vips, domain) %}{% for vip in [vips]|flatten %}
{{ "%-20s"|format(vip) }} {{ domain }}
{%- endfor %}
{% endmacro %}
##################################
# Ansible managed from inventory #
##################################

# VIP address
{{ host_vip(public_vip, domain_prefix ~ "." ~ domain_suffix ) }}
{{ host_vip(internal_vip, domain_prefix ~ "." ~ internal_domain_infix ~ "." ~ domain_suffix ) }}

{% for host in groups.all|sort %}
{% set hostvar=hostvars[host] %}
# {{ hostvar.ansible_hostname }}
{% if hostvar.internal_subnet|default(False) and hostvar.internal_address|default(False) %}
{{ host_ip(hostvar.internal_address, hostvar.default_domain_fqdn, hostvar.default_domain) }}
{{ host_ip(hostvar.internal_address, hostvar.internal_domain_fqdn, hostvar.internal_domain) }}
{% endif %}
{% if hostvar.public_subnet|default(False) and hostvar.public_address|default(False) %}
{{ host_ip(hostvar.public_address, hostvar.public_domain_fqdn, hostvar.public_domain) }}
{% endif %}
{% if hostvar.control_subnet|default(False) and hostvar.control_address|default(False) %}
{{ host_ip(hostvar.control_address, hostvar.control_domain_fqdn, hostvar.control_domain) }}
{% endif %}
{% if hostvar.storage_subnet|default(False) and hostvar.storage_address|default(False) %}
{{ host_ip(hostvar.storage_address, hostvar.storage_domain_fqdn, hostvar.storage_domain) }}
{% endif %}
{% if hostvar.storagemgmt_subnet|default(False) and hostvar.storagemgmt_address|default(False) %}
{{ host_ip(hostvar.storagemgmt_address, hostvar.storagemgmt_domain_fqdn, hostvar.storagemgmt_domain) }}
{% endif %}

{% endfor %}

# undercloud
{{ host_vip(undercloud_ip, "undercloud") }}
