---
######################
# required variables #
######################

# the deployment node ip
undercloud_ip: 192.168.2.100

internal_vip: 192.168.3.2
public_vip: 192.168.1.2

# control & provision
control_subnet: 192.168.2.0/24

# public endpoint
public_subnet: 192.168.1.0/24

# admin/internal endpoint
internal_subnet: 192.168.3.0/24

# ceph public network
storage_subnet: 192.168.4.0/24

# ceph cluster network
storagemgmt_subnet: 192.168.5.0/24

domain_suffix: vim1.local

############
# services #
############
enable_horizon: true
horizon_port: 80
enable_portal: true
portal_port: 81

###################################################
# normally, following variable no need be changed #
###################################################
package_path: /root/release
offline_mode: true
docker_registry: "{{ undercloud_ip }}:4000"
data_path: /data
