[Unit]
Description=Mariadb OPS
After=network.target

[Service]
Type=simple
ExecStart=/opt/ops/recovery.sh
ExecStop=
User=root

[Install]
WantedBy=multi-user.target
